/* Breakpoints */
$mobile-break: 480px;
$tablet-break: 720px;
$big-screen-break: 880px;
$bigger-screen-break: 1160px;

/* Fonts */
$title-font: "Futura PT";
$tagline-font: "Source Code Pro";
$body-font: "Source Serif Pro";

/* Colors */
$white: #efefef;
$link-color: #e4d6bb;
$meta-color: #a99e89;